<h1 mat-dialog-title>Student Details</h1>
<br/>
<div mat-dialog-content>
<form [formGroup]="studentForm">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter First Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter Last Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>HomeGroup</mat-label>
        <input matInput formControlName="grade" placeholder="Enter HomeGroup name" >
    </mat-form-field>
</form>
</div>
<div mat-dialog-action [align]="'end'">
    <button style="background-color: #3269B1; color:white; width: 75px!important;" mat-raised-button (click) = "addstudent()">{{actionBtn}}</button>
    <button style="margin-left: 8px; background-color:#f99d1c;" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
