<h1 mat-dialog-title>Add Visitor Information</h1>
<div mat-dialog-content>
<form [formGroup]="teacherForm">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="teacherName" placeholder="Enter Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="teacherName" placeholder="Enter Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Home Group</mat-label>
        <input matInput formControlName="teacherName" placeholder="Enter Name">
    </mat-form-field>
</form>
</div>
<div mat-dialog-action [align]="'end'">
    <button style="background-color: #3269B1; color:white;" mat-raised-button (click) = "addTeacher()">{{actionBtn}}</button>
    <button style="margin-left: 8px; background-color:#f99d1c;" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>