html, body, section {
    height: 104vh;
    margin-top: -2%;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}
  
.left-half {
    grid-column: 1; 
    justify-content: center;
    padding-top: 35%;
    text-align: center;
}
  
.right-half {
    padding-top: 42.5%;
    padding-left: 10%;
    background: #F7F7F7;
    grid-column: 2;
}

.login-actions {
    display: grid;
    width: 100%;
}

.resetpassBtn {
    background-color: #2196f3;
    color: white;
}

.cancelBtn {
    color:#2196f3;
}

a,
a label {
    cursor: pointer;
}