<section class = "container">    
    <div class="left-half">
        <form [formGroup]="form" fxFlex="60%" fxFlex.sm="50%" fxFlex.xs="90%">
            <mat-card>
                <mat-card-title>Password Reset</mat-card-title>
                <br/>
                <mat-card-content>
                    <strong>
                    If an account exists you will get an email with instructions on resetting your password.
                    <br/>
                    <br/>
                    If it doesn't arrive, don't forget to check your spam folder.
                    </strong>
                </mat-card-content>

                <mat-card-actions class="login-actions">
                    <button id="submit" mat-raised-button class = "resetpassBtn"
                        (click)="resetPassword()">Back to Sign in</button>
                </mat-card-actions>

            </mat-card>

            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </form>
    </div>
    <div class = "right-half">
        <img src="https://i.ibb.co/YjPJR1b/Screenshot-2022-11-22-at-6-10-46-PM.png" height="27%" width="90%">
    </div>
</section>