<h1 mat-dialog-title>Visitor Details</h1>
<br/>
<div mat-dialog-content>
<form [formGroup]="teacherForm">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter First Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter Last Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" placeholder="Enter company name" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Visitor Type</mat-label>
        <mat-select formControlName="patronTypeId" placeholder="Relation">
            <mat-option *ngFor="let relative of relatives" [value]="relative.id">
                {{relative.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="contactPhone" placeholder="Enter Mobile Number">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="contactEmail" placeholder="Enter Email">
    </mat-form-field>
    <mat-checkbox formControlName="termsAndConditionCheck">Terms & Conditions accepted</mat-checkbox>
</form>
</div>
<div mat-dialog-action [align]="'end'">
    <button style="background-color: #3269B1; color:white; width: 75px!important;" mat-raised-button (click) = "addTeacher()">{{actionBtn}}</button>
    <button style="margin-left: 8px; background-color:#f99d1c;" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
