<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <img src="https://i.ibb.co/DGByk1H/Screenshot-2022-11-07-at-1-22-27-PM-removebg-preview-1.png" height="60px" width="200px">
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{userName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>

        <a id = "dashboard-menu-btn" mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <p mat-line> Dashboard </p>
        </a>

        <a id = "incident-menu-btn" mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <p mat-line> Incidents </p>
        </a>

         <app-menu 
        [options]="options" 
        [menus]="menus">
        </app-menu>

        <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line> About </p>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>