<section class = "container">    
    <div class="left-half">
        <form [formGroup]="form" fxFlex="60%" fxFlex.sm="50%" fxFlex.xs="90%">
            <mat-card>
                <mat-card-title>Password Reset</mat-card-title>
                <mat-card-subtitle>Please enter the email address you used to sign up, <br/> and we will send you a password reset email</mat-card-subtitle>
                <br/>
                <br/>
                <mat-card-content>
                    <mat-form-field class="full-width" appearance="outline">
                        <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email" type="email">

                        <mat-error id="invalidEmailError" *ngIf="form.controls['email'].hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error id="requiredEmailError" *ngIf="form.controls['email'].hasError('required')">
                            This field is required
                        </mat-error>
                    </mat-form-field>

                </mat-card-content>

                <mat-card-actions class="login-actions">
                    <button id="submit" mat-raised-button class = "resetpassBtn" [disabled]="form.invalid || loading"
                        (click)="resetPassword()">EMAIL ME A PASSWORD RESET LINK</button>
                    <p>Back to the <a id="cancel" class = "cancelBtn" (click)="cancel()">Sign in</a> page.</p>
                </mat-card-actions>

            </mat-card>

            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </form>
    </div>
    <div class = "right-half">
        <img src="https://i.ibb.co/YjPJR1b/Screenshot-2022-11-22-at-6-10-46-PM.png" height="27%" width="90%">
    </div>
</section>